
body{
  background-color: white;
  width: 100vw;
}

/* NAVIGATION */

/* The Overlay (background) */
.overlay {  
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden;
    transition: 0.5s; 
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 30px; 
    font-family: 'Roboto Mono';
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.navOpen {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
  z-index: 0.5;
  
}
.navOpen div{
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 20;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* END OF NAVIGATION */


.titlePage {
  background-color: white;
  padding-top: 100px;
  padding-right: 20px;
  padding-bottom: 100px;
  height: 100vh;
}

.mainTitle {
  text-align: left;
  font-family: 'Roboto Mono';
  margin-left: 20px;
  margin-right: 20px;
  font-size: 80px;
  border: 2px solid black;
  line-height: 200%;
}

.titlePageInverted {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 20px;
  max-height: 100vh;
}

.titlePageInverted h1 {
  color: white;
  border: 2px solid white;
  line-height: 200%;
}

@media screen and (max-width: 650px), screen and (max-height: 700px;){
  .mainTitle {
    font-size: 40px;
  }
}

/* PAGE 1 ABOUT */

.about{
  background-color: #eee;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 100px;
}
.aboutText{
  background-color: #eee;
}

.col-1{
  font-family: 'Playfair Display';
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 2.5;
  text-align: center;
}

.sliding-underline {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.5s ease;
  width: 0px;
  white-space: nowrap;
  padding-bottom: 20px;
}

.sliding-underline:hover{
  border-bottom: 1px solid black;
  width: 100%;
}

.skull {
  max-height: 100%;
  max-width: 100px;
  padding: 5%;
}

.col-2{
  font-family: 'Nunito Sans';
  letter-spacing: 2px;
  line-height: 2.5;
  font-size: 10px;
  text-align: center;
}



@media screen and (min-width: 700px){
  .col-1{
    font-size: 18px;
    line-height: 2;
  }
  .col-2{
    padding-top: 50px;
    font-size: 12px;
    border-top: 0.5px solid #black;
    border-bottom: 0.5ox solid #black;
  }
  .textAbout{
    display: flex;
    margin-left: 15px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1000px){
  .col-1{
    font-size: 24px;
    line-height: 3;
    width: 40%;
  }
  .col-2{
    padding-top: 45px;
    font-size: 16px;
    width: 40%;
  }
  .aboutText{
    display: flex;
    justify-content: space-around;
  }
}

/* END OF PAGE 1 ABOUT */





/* PAGE 2 TYPES OF BEHAVIOUR */

body{
  box-sizing: border-box;
}
.behaviour{
  background-color: white;
  padding-bottom: 150px;
}

.grid{
  margin: 0 auto;
  max-width: 900px;
  background-color: white;
  padding-top: 150px;
  padding-bottom: 20px;
}
.responsive-img{
  max-width: 100%;
  max-height: 350px;
  position: relative;
}

.cell{
 list-style: none;
  max-width: 500px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
}

.cell h4{
  color: white;
  position: absolute;
  z-index: 3;
  font-family: 'Nunito Sans';
  letter-spacing: 2px;
  font-size: 3em;
  margin-top: 5px;
}
.cell p{
  position: absolute;
  font-family: 'Roboto Mono';
  font-size: 12px;
  left: 10%;
  right: 10%;
  padding-top: 120px;
}


@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
  .cell h4 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1000px){
  .cell{
    width: calc(100%/3);
  }
}


/* END OF TYPES OF BEHAVIOUR */





/* TIMELINE */
.timeline{
  background-color: white;
  min-height: 100vh;
  border-top: 100px solid #eee;
}

.timeHeader{
  border-bottom: 2px solid #eee;
  padding-left: 4rem;
  font-family: 'Nunito Sans';
  font-size: 30px;
  background: #fff;
  height: 200px;
  width: 100%;
}

.timeHeader p {
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
}

.date{
  font-family: 'Roboto Mono';
  font-size: 15px;
  color: darkgrey;
  margin-right: 30px;
}

.title{
  font-family:'Nunito Sans';
}
.title:first-of-type{
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #fff;
  align-items: baseline;
  color: #000;
  display: flex;
  flex-direction: column;
}

.wrapper{
  line-height: 1.15;
  margin-top: 1rem; 
  height: 100%;
  padding-bottom: 150px;
}
.spesh{
  background-color: white;
  transition: background .2s ease-in
}
.spesh:hover {
  background-color: #eee;
}

@media screen and (min-width: 800px){
  .timeline {
    position: relative;
  }
  
  .timeHeader{
    width: 200px;
    border-right: solid 1px #eee;
    border-bottom: none;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  
  .timeHeader p{
    height: 50px;
    background-color: white;
    z-index: 3; 
    position: sticky;
    top: 150px;
  }
 
  .wrapper{
    width: 100%;
    margin-left: 250px;
    padding-top: 150px;
  }
}


/* END OF PAGE 4 */

/*ANIMALS*/
.animals{
  background-color: #eee;
  height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
}

h3{
  color: black;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 200;
  font-size: 60px;
  padding-bottom: 120px;
}

/*SLIDER*/
/* Reset */
*{margin:0;padding:0;}


/* Slider */
#slider{
  max-width: 60%;
  margin-left: 20%;
  height:500px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  max-width: 100%;
  max-height: 100%;
}
.image{
  width: 100%;
  height: 100%;
}
.image img{
  width: 100%;
  height: 100%;
}

/* Legend */
.legend{
  border:500px solid transparent;
  border-left:800px solid rgba(63, 63, 63, 0.7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:400px;
  height:200px;
  float:left;
  position:relative;
  top:200px;
}
.slideTitle{
  font-family: 'Nunito Sans';
  text-transform: uppercase;
  font-size: 24px;
  color: #eee;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
  border: none;
}
.content-txt h2{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:50px;
  z-index:3;
  left:30px;
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#eee;
  float:left;
  margin-right:5px;
  cursor:pointer;
}
.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:rgb(4, 51, 255);
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

/*END OF PAGE ANIMALS*/
.implications1{
  margin: auto;
  width: 70%;
  background-color: #eee;
  border-bottom: 50px solid white;
  padding-top: 350px;
}
.implications1 ul{
  list-style: none;
}
.implications1 li{
  font-family: 'Roboto Mono';
  font-size: 12px;
  line-height: 2.5;
  padding: 15px;
}
@media screen and (min-width: 1000px){
    .implications1 ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .implications1 li{
      width: 45%;
    }
}

.implications{
  background-color: #eee;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  margin: auto;
  width: 70%;
  border-top: 17px solid white;
  border-bottom: 17px solid white;
}
.thoughts{
  font-family: 'Nunito Sans';
  letter-spacing: 2px;
  line-height: 2.5;
  font-size: 10px;
}
.col1{
  padding: 10px;
}
.col2{
  padding: 10px;
}

@media screen and (min-width: 700px){
  .thoughts{
    font-size: 12px;
    line-height: 2;
  }
}
@media screen and (min-width: 1000px){
 .thoughts{
    font-size: 14px;
    line-height: 3;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .col1{
    width: 90%;
  }
  .col2{
    width: 90%;
  }
}

.footer{
  margin: auto;
  width: 100%;
  background-color: #eee;
  height: 120px;
  margin-top: 50px;
}

.footer h6{
  margin: auto;
  width: 10%;
  padding-top: 10px;
  font-family: 'Roboto Mono';
  font-size: 12px;
}
